body{
	font-family: 'Montserrat', sans-serif;
	width: 100%;
}

/******Landing Page********/
.landingPage{
	background: url(../Images/homePage.jpg) no-repeat center top;
	background-size:cover;
	height: 660px;
}


.headerTitleLanding{
	text-align: center;
	width: 100%;
	padding-top: 250px;
	background-image: url(../Images/AB.png);
	background-repeat: no-repeat;
	background-position: center;
	background-position: top;
}

.landingPage h1{ 
	font-size: 46px;
	color: white;
	margin-top: 0px;
	display: inline-block;
	padding: 10px;
	background-color: rgba(0,0,0,0.5);
}

.landingPage h2{
	color: white;
	width: 80%;
	margin-top: 80px;
	display: inline-block;
	background-color: rgba(0,0,0,0.5);
}

.navMenu{
	background-color: black;
}

.navMenu .icon a{
	color: white;
}

.landingMenu{
	clear: both;
	width: 100%;
	text-align: center;
	padding: 20px;
	background-color: black;
	margin: 0;

}

.landingMenu .pageNav a{
	color: white;

}

.landingMenu .pageNav{
	text-align: center;
	float: left;
}

.landingMenu .pageNav:last-child{
	float: right;
}

/*****Main Page************/
#logo{
	width: auto;
	height: auto;
	max-width: 80px;
	max-height: 80px;
	padding: 18px 5px;
	float: left;
	margin-top: .67em;
}

.affix{
	top: 0;
	width: 100%;
	background-color: white;
}

header, .pageNav a{
	color: #ff6666;
}

h1{
	padding: 10px;
}

h1 a{
	font-size: 1.3em;
	font-weight: 600;
	color: red;
}

h1 a:hover{
	text-decoration: none;
}

h2, h3{
	font-weight: 600;
}

.aboutDiv{
	background-color: #ffcccc;
	color: #e60000;
	text-align: center;
	font-size: 2em;
	font-weight: 600;
}

.container{
	padding: 20px 0px;
}

.headerTitle{
	float: left;
}

.icon {
	text-align: center;
	font-size: 1.2rem;
	padding: 36px 5px;
}

.icon a{
	padding: 2px;
	border: 1px solid black;
	border-radius: 5px;
}

.icon a:hover{
	box-shadow: 2px 2px 2px #888888;
	text-decoration: none;
	color: black;
}

.navBar {
	text-align: center;
	display: none;
	padding: 0;
}

.responsiveMenu{
	display: block;
	clear: both;
}

#hero{
	clear: both;
	margin: auto;
	width: 60%;
	display: block;
}

.heroSec{
	clear: both;
	background-image: url(../Images/hero1.jpg);

    /* Set specific height */
    height: 620px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
	color: black;
}

.events{
	background-color: #ffcccc;
	padding: 25px;
}

.events h2{
	clear: both;
	display: block;
	text-align: center;
	color: red;
	font-size: 2.5em;
}

.eventBlock{
	clear: both;
	width: 100%;
}

.eventHover:hover{
	text-decoration: none;
	border-color: red;
	border: solid;
	color: red;
	background-color: yellow;
	box-shadow: none;
}

.events a:hover, .photoCarousel a:hover{
	text-decoration: none;
	box-shadow: 5px 5px 5px #888888;
}

.events .seeMore, .photoCarousel .seeMore{
	text-align: center;
}

.events .seeMore a, .photoCarousel .seeMore a{
	padding: 10px;
	background-color: yellow;
	color: red;
	font-weight: 600;
}

.eventBlock a{
	text-align: center;
	color: yellow;
	background-color: red;
	padding: 20px;
	font-size: 2vw;
	width: 75%;
}

.events div{
	display: flex;
	justify-content: space-between;
}

.eventBlock:nth-last-child(-n+2){
	display: none;
}

.seeMore{
	padding-top: 30px;
}

.active a{
	background-color: yellow;
}

.campaignDiv{
	color: #ff6666;
	text-align: center;
	font-size: 1.5em;
}

.campaignTab{
	color: #ff6666;
}

.tabImg{
	text-align: center;
	width: 100%;
}

.tabDescrip{
	padding-left: 10px;
	display: block;
	float: left;
	width: 100%;
}

.photoCarousel h2{
	display: block;
	text-align: center;
	color: red;
	font-size: 2.5em;
}

.cImage{
	margin: auto;
}


/******events********/

.media h2{
	display: block;
	text-align: center;
	color: red;
	font-size: 2.5em;	
}

.media h4{
	font-size: 1.5em;
}

.media-object{
	max-width: 260px;
}

.media{
	clear: both;
}

.eventDiv{
	padding-bottom: 15px;
	padding: 30px;
}

.eventDiv:nth-child(odd){
	background-color: #ffcccc;
}

footer{
	background-color: black;
	clear: both;
	display: block;
}

/****************Gallery*****************/

.galleryImageOne{
	float: right;
	border-left: solid;
}

.galleryOne{
	clear: both;
	background-image: url(../Images/photo4.jpg);

    /* Set specific height */
    height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.galleryTwo img{
	width: 70%;
}

.galleryTwo{
	background-image: url(../Images/photo6.jpg);
	background-attachment: fixed;
	background-position: right;
	background-repeat: no-repeat;

	border: solid;
}

.galleryThree div{
	width: 50%;
	float: left;
}

.threeOne{
	height: 400px;
	background-image: url(../Images/photo3.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: left bottom;
	border: solid;
}


.threeTwo{
	height: 400px;
	background-image: url(../Images/photo2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: right bottom;
	border: solid;
}

.logo{
	position: absolute;
	margin-top: : -100px;
	margin-left: -100px;
}

.transitions{
	display: none;
}


/********************Bigger screen***********************/

@media only screen and (max-device-width: 768px) {
    .p {
        background-attachment: scroll;
    }
}


@media screen and (min-width: 768px){

	h1{
		font-size: 24px;
	}

	.icon{
		display: none;
	}

	.navBar{
		display: block;
		float: right;
		padding: 26px 5px;
	}

	.pageNav{
		float: left;
		padding: 0px 10px;
		font-size: 20px;
		font-weight: 700;
	}

	.tabDescrip{
		width: 55%;
	}

	.tabImg{
		float: left;
		width: 35%;
	}

	.eventBlock:nth-last-child(-n+2){
		display: flex;
	}

	.landingMenu .pageNav{
	padding: 0px 80px;
	}

	.transitions{
	clear: both;
	height: 500px;
	display: block;
	background-image: url(../Images/AB.png);
	background-repeat: no-repeat;
	background-position: right;
	background-attachment: fixed;
	}

	.transitions div{
		width: 10%;
		height: 500px;
		transition: width 2s;
		float: left;
	}

	.transitions div:hover{
		width: 700px;
	}

	.tran1{
		background-image: url(../Images/series3.jpg);
		background-repeat: no-repeat;
		transition-timing-function: linear;
	}

	.tran2{
		background-image: url(../Images/series4.jpg);
		background-repeat: no-repeat;
		transition-timing-function: ease-in;
	}

	.tran3{
		background-image: url(../Images/photo8.jpg);
		background-repeat: no-repeat;
		transition-timing-function: linear;
	}

	.tran4{
		background-image: url(../Images/photo9.jpg);
		background-repeat: no-repeat;
		transition-timing-function: linear;
	}


}